*, *::before, *::after {
  box-sizing: border-box;
}

header {
  height: 335px;
}

header, nav {
  max-width: 100%;
  text-align: center;
  background: linear-gradient(to right top, #fe6a82, #9326f1);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background: linear-gradient(to right, rgba(202, 73, 185, .6), rgba(148, 39, 240, .6));
}

ul.list {
  list-style: none;
  padding: 0;
}

header li {  
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  /*padding: 15px 10px;*/
  padding: 0px 10px;
}

header p {
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  letter-spacing: 4px;
}

header a {
  color: #5f0783;
}

h1 {
  font-size: 116px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 70px;
  /*line-height: 205px;*/
}

a {
  text-decoration: none;
}

div.projects::after {
  content: '1.';
  font-size: 220px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #9326f1;
  position: absolute;
  top: -20px;
  left: -70px;
  z-index: -1;
}

div.culture::after {
  content: '2.';
  font-size: 220px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ff6b83;
  position: absolute;
  top: -20px;
  left: -100px;
  z-index: -1;
}

div.experience::after {
  content: '3.';
  font-size: 220px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #e61bca;
  position: absolute;
  top: -20px;
  left: -110px;
  z-index: -1;
}

div > button > a {
  color: #5f0783;
}

h2 {
  font-size: 27px;
  font-family: 'Roboto Mono', monospace;
  color: #5f0783;
}

#projects p, #culture p, #experience p {
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
  color: #5f0783;
  line-height: 1.5;
}

#projects button, #culture button, #experience button {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e61bca;
  padding: 7px 17px;
  background-color: #ffffff;
}

div img {
  width: 100%;
  margin-top: 50px;
}

#ideas {
  background: url("../img/fullbg.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 300px;
  max-width: 100%;
  padding: 115px 0; /* wys sekcji - wys fontu : 2*/
}

#ideas p {
  font-size: 70px;
  line-height: 70px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#culture {
  padding-bottom: 50px;
}

#contact {
  background: linear-gradient(to left top, #9326f1, #fe6a82);
  width: 100%;
  margin-top: 25px;
}

#contact p {
  font-size: 73px;
  color: #5f0783;
  font-weight: bold;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

#contact button {
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #ffffff;
  padding: 7px 47px;
  background-color: transparent;
}

div.contact {
  display: inline-block;
  position: relative;
  left: 180px;
}

.hello {
  margin-right: -20px;
}

div.form {
  padding-top: 20px;
}

form > div {
  padding-bottom: 20px;
}

textarea {
  background-color: transparent;
  border: 1px solid #5f0783;
  width: 63%;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  color: #5f0783;
  font: 13px 'Roboto Mono', monospace;
  resize: none; /* usuwa element z prawego dolnego rogu */
}

textarea:focus, input:focus { /* jak to zrobić dobrze dla inputa? */
    outline-offset: -2px;
    outline-color: #ffffff;
    outline-style: auto;
    outline-width: 5px;
}

input {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid #5f0783;
  border-left: 0px;
  background-color: transparent;
  width: 63%;
  height: 40px;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  color: #5f0783;
  font: 13px 'Roboto Mono', monospace;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #5f0783;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #5f0783;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #5f0783;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #5f0783;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #5f0783;
}

label[for="message"] {
    color: #5f0783;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
}

.footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

div.footer span {
  text-transform: uppercase;
  font-size: 10px;
  color: #5f0783;
  font-family: 'Montserrat', sans-serif;
}
